<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.organOld.dao.repository.MessageCardDao">



    <insert id="save">
        INSERT into message_card(card_id,content)
        VALUES
            (#{cardId}, #{content})
    </insert>

</mapper>
